/* @import url("reset.css"); */

/* Анатомія (синтаксис) CSS */

/* Коментарі (контрол + /) */

/* 
Селектор - вибірка, запит, пошук елемента(тів) в HTML файлі 
до якого підключений данний CSS-файл 
*/

/* селектор{
	css параметр;
	css параметр;
	css параметр;
	css параметр;
	...
	css параметр;
} */

/* CSS параметр: */
/* css властивість: значення властивості; */

/*
	Приклад:
	color: red;
	(Де color - це css-властивість, red - це значення цієї css-властивості) 
*/

/* ------------------------------------- */

/* Типи селекторів */

/* 
	Тип №0. Селектор зірочка * 
	Шукаємо (робимо запит), звертаємось 
	до ВСІХ об'єктів (тегів) на сторінці 
*/

/* * {
	color: red;
} */

/* 
	Тип №1. Селектор тегу
	Шукаємо (робимо запит), звертаємось 
	по назві тегу 
*/

/* Приклади */
/* 
	Звертаємось/описуємо (шукаємо, робимо запит) до УСІХ 
	тегів P на сторінці 
*/
/* p {
	color: green;
} */
/* 
	Звертаємось/описуємо (шукаємо, робимо запит) до УСІХ 
	тегів H2 на сторінці 
*/
/* h2 {
	color: red;
} */

/* 
	Тип №2. Селектор класу (!!!Основний наш селектор)
	Шукаємо, звертаємось (робимо запит) по назві класу
	спочатку КРАПКА потім ім'я класу
*/

/* Приклад */
/* 
	Звертаємось/описуємо 
	(шукаємо, робимо запит) до УСІХ 
	тегів з класом title на сторінці 
*/
/* .title {
	color: green;
} */
/* 
	Звертаємось/описуємо 
	(шукаємо, робимо запит) до УСІХ 
	тегів з класом text на сторінці 
*/
/* .text {
	color: red;
} */

/* 
	Тип №3. Селектор ID 
	Шукаємо (робимо запит по назві ID)
	спочатку # потім значення ID
*/

/* #some-id {
	color: red;
} */

/* 
	Тип №4. Селектор атрибутів 
	Шукає сполучення літер te в трибутах class	
*/
/* [class*="tl"] {
	color: red;
}
[title] {
	color: green;
} */

/* КОМБІНАЦІЇ СЕЛЕКТОРІВ */

/* div {
	color: red;
} */
/* .text {
	color: green;
} */

/* 
	Усі DIV але лише з класом text 
	НІЯКИХ, %%%, ПРОБІЛІВ МІЖ СЕЛЕКТОРАМИ!
*/
/* div.text {
	color: green;
} */

/* 
	Звертаємось відразу 
	до кількох класів (та/або інших селекторів) 
*/

/* .text,
.title {
	color: green;
}

.text {
	font-size: 20px;
}
.title {
	font-size: 50px;
} */

/* КАСКАДНІСТЬ (ВКЛАДЕНІСТЬ) СЕЛЕКТОРІВ */
/* ОБОВ'ЯЗКОВО, %%% ,ПРОБІЛ МІЖ ЕЛЕМЕНТАМИ */

/* Звертаємось до УСІХ тегів P на сторінці 
	АЛЕ лише тих які знаходяться в середені 
	будь-якого об'єкту з класом article 
*/
/* .article p {
	color: red;
}
*/
/* Ще приклади */
/* .article a {
	color: orange;
	text-decoration: underline;
}
.article .text {
	margin-bottom: 10px;
}
.article .sub-title {
	color: blue;
}  */

/* Спеціальні символи */

/* 
	Усі теги P першого рівня (безпосередні) 
	в середені об'єктів з класом article
*/

/* .article > p {
	color: red;
} */

/*
	Усі теги P які знаходяться 
	далі по коду після об'єктів з класом article
	та мають той самий рівень вкладеності
*/
/* .article ~ p {
	color: green;
} */

/*
	Тег P який знаходяться беспосередньо 
	далі по коду після об'єктів з класом article
	та мають той самий рівень вкладеності
*/

/* .article + p {
	color: green;
} */

/* ------------ ПРІОРИТЕТ СЕЛЕКТОРІВ ------------ */
/*
	Основні правила формування пріоритетів: 
	1) У випадку рівнозначних селекторів більший 
		пріоритет буде у останього (нижчого) по коду.
		(Селектор класу та селектор атрибуту - рівнозначні)
	2) Більший пріоритет завжди буде у селектора,
		який звужує (уточює, конкретизує) пошук (запит).
	3) Пріоритет у рядкових (inline) стилів 
		(атрибут style="") вищий ніж у стилів 
		з окремого файлу (наприклад style.css)
	4) Прапор !important перезаписує пріоритет (не рекомендується)
		При використанні ви точно маєте розуміти що робите і для чого
*/

/* 
	Селектори рівнозначні 
	Працює правило №'1
*/

/* .title {
	color: red;
}

.title {
	color: green;
}

p {
	color: red;
}
p {
	color: green;
} */

/* 
	Селектор класу та селектор атрибуту - рівнозначні 
	Працює правило №'1
*/

/* [title] {
	color: blue;
}
.link {
	color: yellowgreen;
} */

/* Правило №2 */

/* Найвищий приорітет */
/* #some-id {
	color: yellow;
} */
/* Вищий ніж селектор тегу */
/* .text {
	color: green;
} */
/* Вищий ніж зірочка */
/* p {
	color: blue;
} */
/* Найнижчий приорітет */
/* * {
	color: red;
} */

/* 
	Приорітет комбінацій випливає з правила №2 
	Чим точніше запит (комбінація) тим вона приорітетніше
*/

/* p.text {
	color: blue;
}

.text {
	color: red;
} */

/* #some-id {
	color: yellow !important;
} */

/* Популярні питання */

/* 
В чому різниця між .title.big та .title .big?
*/

/* 
	Звертаємось до об'єктів 
	у яких ОДНОЧАСНО є клас 
	title та клас big 
*/
/* .title.big {
	color: green;
} */

/*
	Звертаємось до об'єктів з класом big,
	які вкладені в об'єкти з класом title 
*/
/* .title .big {
	color: green;
} */

/*
	В чому різниця між .text { ... } і .text * { ... }
*/

/* 
	Звертаємось до об'єктів 
	з класом text
*/
/* .text {
	
} */

/* 
	Звертаємось до УСІХ об'єктів 
	які знаходяться в середені об'єктів
	з класом text
*/
/* .text * {
	
} */
